

<div class="container pt-5 pl-5">
    <h1>Stupid Coaching</h1>
  <div class="">
    <%= @answer %><br>
    <p >-You</p>
  </div>
  <div class="alert alert-warning" role="alert">
    <%= @response %><br>
    <p >-Your coach</p>
  </div>
  <a href="/ask" class="btn btn-primary">Make a new question!</a>
</div>
